/* SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* HEADER */
.header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #161a1e;
}

.header-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav {
    font-weight: 400;
    font-size: 20px;
}

.nav-link {
    margin-right: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-link:last-child{
    margin-right: 0;
}

.nav-link:hover {
    color: #00d5a9;
    border-bottom: #00d5a9;
    border-bottom-style: solid;
}

.logo {
    margin-right: 60px;
}

.pic{
    display: block;
    width: 80px;
    height: 80px;
}

.header-contacts {
    margin-left: auto;
    display: flex;
}

.whatsapp{
    display: block;
    width: 40px;
    height: 40px;
}

.header-number{
    margin-left: 20px;
    margin-top: 10px;
}

.phone{
    color: #FFFFFF;
    text-decoration: none;
}

.phone:hover {
    color: #00d5a9;
}


/* MAIN */
.main{

}

.container {
    background-color: #161a1e;
    margin: 0 auto;
    display: flex;
    height: 965px;
}

.content {
    flex: 0 1 100%;
}

.main-content{
    background-color: #161a1e;
    margin-top: 320px;
    padding-top: 0;
    margin-left: 20px;
    margin-right: 15px;
}

.sub-info {
    width: 400px;
    padding-top: 10px;
}

.main-img {
    height: 100%;
    width: 100%;
}

.main-text {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 48px;
    font-weight: 500;
    line-height: 55px;
}

.main-text.subtext {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 0;
}
.line {
    margin-top: -5px;
    margin-left: 20px;
    border-bottom-style: solid;
    border-bottom-color: #00d5a9;
    border-bottom-width: 1px;
    width: 350px;
}

.button {
    margin-top: 25px;
    background-color: #008074;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .4s;
    height: 50px;
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
}

.button:hover{
    background-color: #00d5a9;
    cursor: pointer;
}

/* ABOUT US */
.container_about-us{
    background: #FFFFFF;
}

.main-content.content_about-us
{
    display: flex;
    margin-top: 25%;
    background-color: #FFFFFF;
    padding-left: 30px;
    /*opacity: 0;*/
}

.main-text.text_about-us{
    color: #000000;
    font-weight: 600;
}

.main-content.video{
    background-color: #FFFFFF;
    display: flex;
    margin-top: 20%;
    width: 870px;
    height: 500px;
    padding-right: 0;
}
.youtube{
    width: 870px;
    height: 550px;
}


/* CONTACTS */
.container.container_contacts{
    background-color: #FFFFFF;
    height: 700px;
}

.content.map {
    padding-top: 30px;
    padding-left: 20px;
}

.main-content.contact{
    margin-top: 30px;
    margin-left: 0;
    margin-right: 20px;
    background-color: #e5e5e5;
    height: 670px;
}

.contact-header{
    margin-left: 40px;
    font-weight: 400;
    font-size: 48px;
}

.inner-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
}

.inner-img {
    width: 29px;
    height: 29px;
}

.inner-text{
    margin-left: 15px;
    font-weight: 200;
    font-size: 28px;
}

.outer-info{
    margin-top: 20px;
    margin-left: 40px;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 20px;
}

.outer-info.address{
    font-weight: 400;
}

.inner-text.email-addr{
    font-weight: 4000;
}