/* SETTINGS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #161a1e;
    min-width: 1170px;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #161a1e;
    border-bottom: solid #272b2e 1px;
}

.header-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav {
    font-weight: 400;
    font-size: 20px;
}

.nav-link {
    margin-right: 32px;
    color: #ffffff;
    text-decoration: none;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    color: #00d5a9;
    border-bottom: #00d5a9;
    border-bottom-style: solid;
}

.logo {
    margin-right: 60px;
}

.pic {
    display: block;
    width: 80px;
    height: 80px;
}

.header-contacts {
    margin-left: auto;
    display: flex;
}

.whatsapp {
    display: block;
    width: 40px;
    height: 40px;
}

.header-number {
    margin-left: 20px;
    margin-top: 10px;
}

.phone {
    color: #ffffff;
    text-decoration: none;
}

.phone:hover {
    color: #00d5a9;
}

/* MAIN */

.container {
    background-color: #161a1e;
    margin: 0 auto;
    display: flex;
    height: 965px;
}

.content {
    flex: 0 1 100%;
}

.main-content {
    background-color: #161a1e;
    margin-top: 320px;
    padding-top: 0;
    margin-left: 20px;
    margin-right: 15px;
}

.sub-info {
    width: 400px;
    padding-top: 10px;
}

.main-img {
    height: 100%;
    width: 100%;
}

.main-text {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 48px;
    font-weight: 500;
    line-height: 55px;
}


.main-text.subtext {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 0;
}

.line {
    margin-top: -5px;
    margin-left: 20px;
    border-bottom-style: solid;
    border-bottom-color: #00d5a9;
    border-bottom-width: 1px;
    width: 350px;
}

.button {
    margin-top: 25px;
    background-color: #008074;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.4s;
    height: 50px;
    width: 400px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
}

/*ULTRA MEGE BUTTON*/
.main-btn{
    margin-top: 25px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    /*width: 400px;*/
    /*vertical-align: ;*/
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.main-btn:before {
    content: '';
    width: 400px;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
.main-btn.assort{
    width: 330px;
    height: auto;
    border: solid 1px #00d5a9;
    border-radius: 50px;
}

.main-btn.assort .circle{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #00d5a9;
    border-radius: 1.625rem;
}
.main-btn.assort .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.main-btn.assort .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.main-btn.assort .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}


.main-btn.assort .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #00d5a9;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
}
.main-btn:hover .circle {
    width: 100%;
}

.main-btn:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.main-btn:hover .button-text {
    color: #fff;
}
/*ULTRA MEGE BUTTON*/
.button:hover {
    background-color: #00d5a9;
    cursor: pointer;
}

/* ABOUT US */
.container_about-us {
    background: #161a1e;
    height: 840px;
}

.main-content.content_about-us {
    display: flex;
    margin-top: 25%;
    background-color: #161a1e;
    padding-left: 30px;
}

.main-text.text_about-us {
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
}

.main-content.video {
    background-color: #161a1e;
    display: flex;
    margin-top: 20%;
    height: 500px;
    padding-right: 0;
}

.youtube {
    width: 100%;
    height: 550px;
}

/* CONTACTS */
.container.container_contacts {
    background-color: #161a1e;
    height: 700px;
}

.content.map {
    padding-top: 30px;
    padding-left: 20px;
    height: 700px;
}
.content.contacts{
    height: 700px;
}

.main-content.contact {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 20px;
    background-color: #161a1e;
    height: 540px;
}

.contact-header {
    margin-left: 40px;
    font-weight: 400;
    font-size: 48px;
    color: #ffffff;
}

.inner-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
}

.inner-img {
    width: 29px;
    height: 29px;
}

.inner-text {
    margin-left: 15px;
    font-weight: 200;
    font-size: 28px;
    color: #ffffff;
}

.outer-info {
    margin-top: 20px;
    margin-left: 40px;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 20px;
    color: #ffffff;
}

.outer-info.address {
    font-weight: 400;
}

.inner-text.email-addr {
    font-weight: 4000;
}

/*OUR PROJECTS*/
.container.container_projects {
    background-color: #161a1e;
    height: 624px;
    /*max-width: 1525px;*/
}

.content.project {
    margin-top: 224px;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.inner-content {
    height: 400px;
    background-color: black;
    position: relative;
    display: flex;
    overflow: hidden;
    transition: 1s;
}

.inner-content:hover {
    opacity: 0.7;
    transition: 1s;
    transform: scale(1.1);
}

.inner-pic {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: 1s;
}

.description {
    position: absolute;
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

.header_small-pic {
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
}

.button.lear-more {
    width: 130px;
    height: 50px;
    /*background-color: rgba(0, 0, 0, 0);*/
    /*border-style: solid;*/
    /*border-color: #00d5a9;*/
    /*border-width: 1.5px;*/
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #00d5a9;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    transition: .5s;
    z-index: 1;
    color: #ffffff;
}

.button.lear-more:before{
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #00d5a9;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button.lear-more:hover:before {
    width: 105%;
}

.button.lear-more:hover {
    border-color: #00d5a9;
    color: #000000;
    /*border: none;*/
}

.header_our-projects {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 224px;
}

.directions {
    margin-left: 20%;
    font-size: 45px;
    color: #ffffff;
}

.line-dir {
    position: absolute;
    margin-top: 80px;
    margin-left: 20%;
    border-bottom-style: solid;
    border-color: #00d5a9;
    border-bottom-width: 5px;
    width: 170px;
}

.line-dir.sliderLine{
    margin-left: 25px;
    margin-top: 0;
    width: 170px;
}

.modalWrapper {
    margin: auto;
    display: none;
    z-index: 60;
    position: fixed;
    width: 1200px;
    height: 700px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e5e5e5;
    color: #ffffff;
    justify-content: center;
}

.modalContent {
    width: 100%;
    height: 100%;
}

.close {
    color: black;
    width: auto;
}

.close:hover {
    cursor: pointer;
}

.modal-overlay {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.modalInner {
    width: 100%;
    height: 90%;
    display: flex;
}

.innerModalPic {
    margin-top: 200px;
    margin-left: 20px;
}

.innerModalPic.salePic {
    margin-top: 167px;
}

.modalPic {
    width: 42px;
    height: 42px;
}

.modalText {
    color: black;
    font-weight: 400;
    font-size: 26px;
    width: 35%;
    margin-top: 180px;
    margin-left: 10px;
}

.modalText.saleText {
    margin-top: 150px;
}

.modalPhoto {
    background-color: black;
    width: 60%;
    margin-left: 20px;
    display: flex;
    margin-right: 10px;
}

.innerModalPhoto {
    width: 100%;
}

/* TEST */
.container.test {
    width: 100%;
    height: 100%;
}

.testBack {
    width: 100%;
    height: 965px;
    display: block;
    opacity: 0.4;
}

.content.testContent {
    position: absolute;
}

.main-content.testMainContent {
    background-color: rgba(0, 0, 0, 0);
    width: 45%;
    margin-left: 100px;
    align-items: center;
}

.slideHead{
    margin-left: 20%;
    width: 100px;
    margin-bottom: 20px;
}

.MainSliderHeader{
    text-align: center;
    margin-left: 20%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 45px;
    color: white;
}

.content-slide {
    width: 50%;
    height: 800px;
    display: flex;
}

.slider__header{
    margin-top: 100px;
}

.sliderText{
    margin-top: 50px;
}

.slider-comment {
    margin-left: 20px;
    margin-right: 20px;
}

.sliderBtn{
    margin-top: 20px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #008074;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.sliderBtn:hover{
    background-color: #00d5a9;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.sliderBtn:active{
    transform: translateY(-1px);
}


.slider__header{
    /*border: solid #00d5a9 2px;*/
    /*border-radius: 15px;*/
}
.currPic {
    display: flex;
    margin-left: 15%;
    margin-right: 30%;
    margin-bottom: 2%;
    background-color: #00d5a9;
    width: 700px;
    height: 450px;
}

.picLine {
    display: flex;
    height: 110px;
    width: 610px;
    margin-left: 20%;
}

.lineItem {
    margin-left: 7px;
    display: flex;
    height: 100%;
    width: 145px;
    transition: 1s;
}

.lineItem:first-child {
    margin-left: 0;
}

.picItem {
    width: 145px;
    height: 100px;
}


.picItem:hover {
    border: #00d5a9 solid 2px;
    cursor: pointer;
}

.picItem.active {
    border: #00d5a9 solid 2px;
}

.mainPicItem {
    display: flex;
    width: 700px;
    height: 450px;
}
